<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap os="linux" dll="vulkan-1.dll" target="libvulkan.so.1"/>
	<dllmap os="linux" dll="opengl32.dll" target="libGL.so.1"/>
	<dllmap os="linux" dll="libsndfile.dll" target="libsndfile.dll"/>
	<dllmap os="osx" dll="opengl32.dll" target="/System/Library/Frameworks/OpenGL.framework/OpenGL"/>
	<dllmap os="linux" dll="openal32.dll" target="libopenal.so.1"/>
	<dllmap os="linux" dll="libEGL.dll" target="libEGL.so.1"/>
	<dllmap os="linux" dll="libevdev" target="libevdev.so.2"/>
</configuration>
